.tech-expertise {
  .tech-search-wrapper {
  position: relative;
  max-width: 400px;
  margin: 0 auto 2rem;
}

  .tech-search {
    width: 95%;
    padding: 0.75rem 1rem 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #444;
    border-radius: 8px;
    background: #1b1b1b;
    color: #eee;
  }

  .clear-icon {
    position: absolute;
    top: 50%;
    right: 0rem;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #aaa;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: #fff;
    }
  }

  .tech-group.highlight {
    border-left: 4px solid #ffeb3b; // material yellow
    background-color: rgba(255, 235, 59, 0.05);
  }

  .tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
  }

  .tech-group {
    background: #1e1e1e;
    padding: 1.5rem;
    border-radius: 8px;
    border-left: 4px solid #3f51b5;
    color: #eee;

    h3 {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      color: #90caf9;
    }

    p {
      font-size: 0.95rem;
      line-height: 1.5;
    }

    &:hover {
      background: #2a2a2a;
      transform: scale(1.02);
      transition: transform 0.3s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}