<div class="tech">
  <h2 class="text-center">Technical Expertise</h2>

  <div class="tech-search-wrapper">
    <input
      type="text"
      class="tech-search"
      [(ngModel)]="techSearch"
      placeholder="Search" />

    <button *ngIf="techSearch" class="clear-icon" (click)="techSearch = ''" aria-label="Clear search">
      ✖
    </button>
  </div>

  <div class="card-grid">
    <div 
      *ngFor="let skillGroup of technicalSkills | keyvalue"
      class="card border-blue" 
      [ngClass]="{ 'highlight': matchesSearch(skillGroup) }">
      <h3>{{ skillGroup.key }}</h3>
      <p [innerHTML]="getHTMLValues(skillGroup)"></p>
    </div>
  </div>
</div>