.card-grid {
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}

.tech-search-wrapper {
  position: relative;
  max-width: 400px;
  margin: 0 auto 2rem;
}

.tech-search {
  width: 95%;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #444;
  border-radius: 8px;
  background: #1b1b1b;
  color: #eee;
}

.clear-icon {
  position: absolute;
  top: 50%;
  right: 0rem;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #aaa;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: #fff;
  }
}