.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.badge {
  background: url('../../../../public/images/aws-certified-developer-associate.png') no-repeat center center;
  width: 260px;
  height: 200px;
  display: inline-block;
  background-size: contain;
  background-attachment: fixed;
  margin: 0 auto;
}
